<div data-ng-controller="QuestionsController" data-ng-init="findOneQuestion();findTests()">
<div class="row">
    <form class="form-horizontal  col-lg-8">
        <div class="control-group" >
            <label class="control-label" for="text">Text</label>
            <div class="controls">
                <input type="text" class="form-control input-xlarge" data-ng-model="question.text" id="text" placeholder="Text">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="test">Test</label>
            <div class="controls">
                <select
                        data-ng-model="question.testId"
                        name="test"
                        required="required"
                        data-ng-options="c.$id as c.name for c in tests">
                    <option data-ng-show="noQuestions" value="">Choose a test:</option>
                </select>
            </div>
        </div>

        <div class="control-group" >
            <label class="control-label" for="category">Category</label>
            <div class="controls">
                <input type="text" class="form-control input-medium" data-ng-model="question.category" id="category" placeholder="Category">
            </div>
        </div>
        <div class="control-group col-lg-8" >
            <label class="control-label" for="options">Number of options</label>
            <div class="controls">
                <input type="number" class="form-control input-mini" data-ng-model="question.options" id="options" placeholder="Number of options">
            </div>

        </div>
        <div class="control-group col-lg-8">
            <label class="control-label" for="reverse">Reverse scoring?</label>

                <input type="checkbox" class="form-control checkbox pull-left" data-ng-model="question.reverse" id="reverse">


        </div>
        <div class="control-group col-lg-8 ">
            <div class="controls">
                <button data-ng-click="create()" data-ng-show="!questionId">Create Question</button>
            </div>
        </div>
        <div class="control-group col-lg-8 ">
            <div class="controls">
                <a href="#/questions">View all questions</a>
            </div>
        </div>
    </form>
</div>
</div>