<div data-ng-controller="QuestionsController" data-ng-init="findQuestions();findTests()">
    <h2>Questions</h2>
    <ul class="navlist">

        <li data-ng-include="'views/partials/testselect.html'"></li>
       <!-- <li data-ng-include="'views/partials/categoryselect.html'"></li> -->

    </ul>

    <table class="table table-hover">
        <tr>
            <th>Question</th>
            <th>Category</th>

            <th>Reverse</th>
            <th>Action</th>
        </tr>
        <tr data-ng-repeat="question in questions | filter:search | filter:strictsearch:true ">
            <td>{{ question.$index+1 }}. <a href="#/questions/{{ question.$id }}">{{ question.text }}</a></td>
            <td>{{ question.category}}</td>
            <!--<td>{{ question.testId }}</td>-->
            <td>{{ question.reverse }}</td>
            <td>[<a href="#/questions/{{ question.$id }}/edit">Edit</a>]
                [<a  data-ng-click="removeQuestion('{{ question.$id }}')" >Remove</a>]</td>
        </tr>
    </table>


    <br>
    <a href="#/questions/create">Create a new question</a>
    </div>
