<div data-ng-controller="QuestionsController" data-ng-init="findQuestions()">
    <h2>Questions</h2>
    <h3>All Questions</h3>
    <ul>
        <li data-ng-repeat="question in questions">
            <a href="#/questions/{{ question.$id }}">{{question.text}}</a>
            [<a href="#/questions/{{ question.$id }}/edit">Edit</a>]
            [<a  data-ng-click="removeQuestion('{{ question.$id }}')" >Remove</a>]
        </li>
    </ul>
    <br>
    <a href="#/questions/create">Create a new question</a>
    </div>
